.cardWrap {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card {
  background-color: rgba(188, 179, 183, 0.92);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(33, 30, 28, 0.70) inset
}
.projectIntro {
  width: 35vw;
  height: 75%;
  display: flex;
  float: right;
  flex-direction: column;
  padding: 2%;
}
.cardTitle {
  text-align: right;
  font-size: 8vw;
  color: #f9f9f9;
  margin: 0% 3% 0% 1%;
  font-family: 'Habibi', serif;
  text-shadow: 3px 3px 8px #300e25;
}
.techWrap {
  width: 75%;
  text-align: center;
  padding: 0;
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-end;

}
.techTitle {
  text-align: left;
  font-family: 'Habibi', serif;
  color: #300e25;
  font-size: 1.5em;
  margin-bottom: 5%;
  border-bottom: 1px solid #300e25;
}
.techListWrap {
  background-color: rgba(248, 248, 248, 0.80);
  border: 2px solid #f5f5f5;
  box-shadow: 1px 1px 10px #300e25;
  padding: 2%;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: left;
}
.tech {
  width: 48%;
  padding: 1%;
}
.buttons {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 2%;
}
.projectLinks {
  margin: 0% 0% 0% 2%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  color: #f5f5f5;
  background-color: #9c5280;
  padding: 10px;
  width: 20em;
  height: 1.5em;
  border-radius: 20px;
  border: 2px outset #300e25 #f5f5f5;
}
.projectLinks:hover {
  color: #9c5280;
  background-color: #f5f5f5;
}
.infoWrap {
  text-align: left;
  width: 100%;
  height: 70vh;
  display: flex;
  margin: 5% 1%;
  flex-direction: column;
  border-left: 10px solid #300e25;
  overflow: scroll;
}
.projectVideo {
  margin: 5%;
  height: 100%;
  width: auto;
  border: 2px solid #f5f5f5;
  box-shadow: 1px 1px 20px #300e25;
}
.projectDetails {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  padding: 1%;
  margin: 5%;
  background-color: rgba(248, 248, 248, 0.80);
  border: 2px solid #f5f5f5;
  box-shadow: 1px 1px 20px #300e25;
  width: auto;
  height: 100%;
}
.cardDes {
  color: #300e25;
  font-size: 1.5em;
  padding: 2%;
}
@media screen and (max-width: 800px) {
  .card {
    flex-direction: column;
  }
  .projectIntro {
    width: 100%;
    height: 10%;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cardTitle {
    width: 100%;
    font-size: 8em;
    color: #f9f9f9;
    margin: 0%;
    text-align: center;
  }
  .buttons {
    width: 45%;
    align-self: flex-end;
    font-size: 1em;
  }
  .techWrap {
    width: 85%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .techTitle {
    width: 90%;
    font-size: 1.5em;
    margin-bottom: 2%;
    text-align: center;
  }
  .techListWrap {
    width: 90%;
    padding: 1%;
  }
  .tech {
    width: 25%;
    padding: .5%;
  }
  .infoWrap {
    border-left: none;
    width: 100%;
    height: 70vh;
    display: flex;
    margin: .5%;
    flex-direction: column;
    overflow: scroll;
  }
  .projectVideo {
    margin: 0% 5% 5% 5%;
  }
  .projectDetails {
    margin: 0% 5% 5% 5%;
    height: auto;
  }
  .cardDes {
    color: #300e25;
    font-size: 1.5em;
    padding: 2%;
  }
}
@media screen and (max-width: 600px) {
  .techWrap {
    display: none;
  }
  .buttons {
    width: 60%;
  }
  .cardTitle {
    font-size: 7em;
    padding: 1%;
  }
}
@media screen and (max-width: 425px) {
  .buttons {
    width: 80%;
  }
  .cardTitle {
    font-size: 5em;
    padding: 1%;
  }
}
