.cardWrap {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card {
  background-color: rgba(188, 179, 183, 0.92);
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 10px rgba(33, 30, 28, 0.70) inset
}
.projectIntro {
  width: 35vw;
  height: 75%;
  display: flex;
  float: right;
  flex-direction: column;
  padding: 2%;
}
.cardTitle {
  text-align: right;
  font-size: 8vw;
  color: #f9f9f9;
  margin: 0% 3% 0% 1%;
  font-family: 'Habibi', serif;
  text-shadow: 3px 3px 8px #300e25;
}
.techWrap {
  width: 75%;
  text-align: center;
  padding: 0;
  margin: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-end;
}
.techTitle {
  text-align: left;
  font-family: 'Habibi', serif;
  color: #300e25;
  font-size: 1.5em;
  margin-bottom: 5%;
  border-bottom: 1px solid #300e25;
}
.techListWrap {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: left;
}
.tech {
  width: 48%;
  padding: 1%;
}
.status {
  width: auto;
  text-align: right;
  color: #300e25;
  font-size: 1.2em;
  padding: 0;
  margin: -3% 3% 3% 1%;
}
.buttons {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 2%;
}
.projectLinks {
  margin: 0% 0% 0% 2%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  color: #f5f5f5;
  background-color: #9c5280;
  padding: 10px;
  width: 20em;
  height: 1.5em;
  border-radius: 20px;
  border: 2px outset #300e25 #f5f5f5;
}
.projectLinks:hover {
  color: #9c5280;
  background-color: #f5f5f5;
}
.infoWrap {
  text-align: left;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  border-left: 10px solid #300e25;
  overflow: scroll;
}
.projectVideo {
  margin: 5%;
  height: 100%;
  width: auto;
  border: 2px solid #f5f5f5;
  box-shadow: 1px 1px 20px #300e25;
}
.projectDetails {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  padding: 1%;
  margin: 5%;
  background-color: rgba(248, 248, 248, 0.80);
  border: 2px solid #f5f5f5;
  box-shadow: 1px 1px 20px #300e25;
  width: auto;
  height: 100%;
}
.cardDes {
  color: #300e25;
  font-size: 1.5em;
  padding: 2%;
}
.tools {
  color: #300e25;
  font-size: 1.5em;
  padding: 2%;
}
.gif {
  padding-bottom: 1em;
  width: 30vw;
}
/* @media screen and (max-width: 1078px) {
  .projectLinks {
    width: 15vw;
  }
  .cardTitle {
    font-size: 4.5em;
    margin: 0;
  }
  .cardDes {
    font-size: 1.2em;
    padding: 0vh 8vw;
  }
  .tools {
    margin: 0;
  }
}
@media screen and (max-width: 750px) {
  .projectLinks {
    width: 20vw;
  }
  .cardTitle {
    font-size: 3em;
  }
  .infoWrap {
    padding-top: 2vw;
    margin-top: 0;
  }
}
@media screen and (max-width: 690px) {
  .projectLinks {
    width: 25vw;
  }
  .cardTitle {
    font-size: 2.75em;
  }
  .tools {
    margin: 0;
  }
  .cardDes {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 575px) {
  .cardTitle {
    font-size: 2.5em;
  }
  .cardDes {
    font-size: 1em;
  }
}
@media screen and (max-width: 465px) {
  .cardTitle {
    font-size: 2.25em;
  }
}
@media screen and (max-width: 450px) {
  .cardTitle {
    font-size: 2em;
  }
  .cardDes {
    padding: 1vh;
    font-size: .9em;
  }
  .projectLinks {
    width: 30vw;
  }
} */
/* @media screen and (max-height: 665px) {
  .projectLinks {
    height: 2vw;
  }
  .cardTitle {
    font-size: 3.5em;
    margin: 0;
  }
  .cardDes {
    padding: 0vh 6vw;
  }
  .infoWrap {
    padding: 1vw 5vw;
  }
}
@media screen and (max-height: 500px) {
  .projectLinks {
    height: 1.5vw;
  }
  .cardTitle {
    font-size: 3em;
  }
  .cardDes {
    padding: 0vh 4vw;
    font-size: 1em;
  }
  .infoWrap {
    padding: 0vw 5vw;
  }
}
@media screen and (max-height: 400px) {
  .projectLinks {
    height: 1.5vw;
  }
  .cardTitle {
    font-size: 2.5em;
  }
  .cardDes {
    padding: 0vh .25vw;
    font-size: 1em;
  }
  .infoWrap {
    padding: 0vw 5vw;
  }
}
@media screen and (max-height: 375px) {
  .tools {
    margin: 0;
  }
}
@media screen and (max-height: 330px) {
  .cardDes {
    padding: 0vh 0vw;
    font-size: .75em;
  }
} */
