.bigIntro {
  font-size: 5em;
  margin: 1vw 0vw 2vw 0vw;
  padding: 1vw 5vw 0vw 5vw;
  color: #B64E3E;
}
.introWrap {
  height: 90vh;
}
.scrollPrompt {
  font-size: 2em;
  margin: 0;
  padding: 0vw 5vw 0vw 5vw;
  color: #211e1c;
}
.bounce {
  margin: 5px;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
  font-size: 2em;
  padding: 0vw 5vw 5vw 5vw;
  color: #211e1c;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1296px) {
  .bigIntro {
    font-size: 3.5em;
    margin-bottom: 1vh;
    margin-top: 5vh;
  }
}
@media screen and (max-width: 930px) {
  .bigIntro {
    font-size: 3em;
  }
}
@media screen and (max-width: 700px) {
  .bigIntro {
    font-size: 2.5em;
  }
}
/* @media screen and (max-height: 750px) {
  .bigIntro {
    font-size: 4.25em;
  }
}
@media screen and (max-height: 660px) {
  .bigIntro {
    font-size: 4em;
  }
}
@media screen and (max-height: 560px) {
  .bigIntro {
    font-size: 3.5em;
  }
}
@media screen and (max-height: 500px) {
  .bigIntro {
    padding: .5vw 5vw 0vw 5vw;
    margin-bottom: 1vw;
  }
  .scrollPrompt {
    font-size: 1.5em;
    padding: 0vw 5vw 0vw 5vw;
  }
}
@media screen and (max-height: 425px) {
  .bigIntro {
    font-size: 3em;
    padding: 0vw 5vw 0vw 5vw;
    margin: 1vw 0vw;
  }
  .scrollPrompt {
    font-size: 1.25em;
    padding: 0vw 5vw 0vw 5vw;
  }
}
@media screen and (max-height: 425px) {
  .bigIntro {
    font-size: 2.5em;
  }
} */
