.workWrap{
  height: 100%;
}
.bigIntro {
  font-family: 'Habibi', serif;
  color: #9c5280;
  font-size: 5em;
  margin: 2% 0% 2% 0%;
  padding: 4% 5% 0% 5%;
  height: 100%;
}
.introWrap {
  font-size: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.scrollPrompt {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 5% 5% 0% 5%;
  color: #211e1c;
}
.bounce {
  font-family: 'Raleway', sans-serif;
  margin: 5px;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
  font-size: 3em;
  padding: 0% 5% 5% 5%;
  color: #211e1c;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 1000px) {
  .bigIntro {
    font-size: 4em;
  }
}
@media screen and (max-width: 800px) {
  .bigIntro {
    font-size: 3.75em;
  }
}
@media screen and (max-width: 600px) {
  .bigIntro {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 425px) {
  .introWrap {
    display: none;
  }
}
