.bigIntro {
  font-size: 5em;
  padding: 1vw 5vw 0vw 5vw;
  color: #B64E3E;
}
.introWrap {
  height: 90vh;
}
.scrollPrompt {
  font-size: 2em;
  padding: 0vw 5vw .2vw 5vw;
  color: #211e1c;
}
@media screen and (max-width: 1275px) {
  .bigIntro {
    font-size: 4em;
  }
}
@media screen and (max-width: 930px) {
  .bigIntro {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 675px) {
  .bigIntro {
    font-size: 3em;
  }
}
