.quoteText {
  font-size: 1.75em;
  color: #f5f5f5;
  margin: 6vh;
}

.storyText {
  font-size: 1.25rem;
  color: #f5f5f5;
  margin: 6vh;
}
.job {
  width: 50vw;
  height: 30vh;
  margin: 0;
  padding: 1vh 0vh;
}
.workTitle {
  font-size: 3em;
  color: #f5f5f5;
  background-color: none;
  margin: 1vh 1vh 3vh 1vh;
  text-decoration: underline;
  font-family:'Noto Sans SC', sans-serif;
  text-shadow: 0px 0px 5px #211e1c;
}
.company {
  color: #f5f5f5;
  font-size: 2em;
  padding: 0;
  margin: 0
}
.jobWrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  display: block;
}

.position {
  color: #f5f5f5;
  font-size: .75em;
  padding: 0;
  margin: .25em;
}
.jobDes {
  color: #f5f5f5;
  font-size: 1em;
  padding: 0vh 4vw;
}
#quoteCard {
  height: auto;
}

@media screen and (max-width: 1000px) {
  .quoteText {
    font-size: 1.5em;
  }
  .jobDes {
    font-size: 1em;
    margin-top: .5em;
    padding: 0vh 1.5vw;
  }
  .job {
    height: 33vh;
  }
  #whyTitle {
    font-size: 4em;
  }
  .position {
    margin: .1em;
  }
}
@media screen and (max-width: 800px) {
  .quoteText {
    font-size: 1.25em;
  }
  .jobDes {
    font-size: .75em;
  }
  .company {
    font-size: 1.5em;
  }
  #whyTitle {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 630px) {
  .jobWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .job {
    width: 100vw;
    height: auto;
    padding: 0vh;
  }
  .quoteText {
    font-size: 1.1em;
  }
  .jobDes {
    font-size: .75em;
    margin-bottom: 1em;
  }
  .company {
    font-size: 1em;
  }
  #whyTitle {
    font-size: 3em;
  }
}
@media screen and (max-width: 475px) {
  #whyTitle {
    font-size: 2.5em;
  }
}

/* @media screen and (max-width: 930px) {
  .vision {
    font-size: 2.5em;
  }
  .visionTitle {
    font-size: 4em;
  }
  .title {
    font-size: 4em;
  }
  .about {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 800px) {
  .job {
    width: 50vw;
    height: 35vh;
    padding: 1vh 0vh;
  }
  .title {
    font-size: 3em;
    margin-top: 4vh;
    margin-bottom: 3vh;
  }
  .about {
    font-size: 1.5em;
  }
  .company {
    font-size: 1.5em;
    padding: 0;
    margin: 0
  }
  .jobDes {
    font-size: 1em;
    padding-top: .25vh;
  }
}
@media screen and (max-width: 700px) {
  .vision {
    font-size: 2.25em;
  }
  .visionTitle {
    font-size: 4em;
  }
  .job {
    height: 40vh;
    padding: .5vh 0vh;
  }
  .title {
    font-size: 3em;
    margin-top: 1vh;
    margin-bottom: 1.25vh;
    text-decoration: underline;
  }
}
@media screen and (max-width: 625px) {
  .vision {
    font-size: 2em;
  }
  .visionTitle {
    font-size: 3em;
  }
  .job {
    width: 100vw;
    height: 20vh;
    padding: 0vh;
  }
  .company {
    font-size: 1em;
    padding: 0;
    margin: 0
  }
  .jobDes {
    font-size: .75em;
    padding-top: .25vh;
  }
  .jobWrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about {
    font-size: 1.25em;
  }
}
@media screen and (max-height: 670px) {
  .job {
    width: 50vw;
    height: 40vh;
    padding: 0vh;
  }
  .title {
    font-size: 3em;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    text-decoration: underline;
  }
}
@media screen and (max-height: 530px) {
  .title {
    margin-bottom: 2vh;
  }
  .company {
    font-size: 1em;
    padding: 0;
    margin: 0
  }
  .jobDes {
    font-size: .75em;
    padding-top: .25vh;
  }
}
@media screen and (max-height: 450px) {
  .vision {
    font-size: 2.5em;
  }
  .visionTitle {
    font-size: 4em;
  }
  .about {
    font-size: 1.5em;
  }
}
@media screen and (max-height: 425px) {
  .vision {
    font-size: 2.25em;
  }
  .visionTitle {
    font-size: 4em;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .about {
    font-size: 1.5em;
  }
  .job {
    width: 50vw;
    height: 35vh;
    overflow:scroll;
  }
}
@media screen and (max-height: 325px) {
  .vision {
    font-size: 1.5em;
  }
  .visionTitle {
    font-size: 4em;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .about {
    font-size: 1.2em;
  }
} */
